@import "reset.css";
@import "chart-header.css";
@import "chart-btns.css";

@import "artist.css";

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-style {
  text-decoration: none;
}

.overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 차트 */
.chart {
  width: 380px;
}

.chart__standardTime {
  color: rgba(0, 0, 0, 0.6);
}

.chart--wrap {
  border: 1px solid black;
  border-radius: 5px;
}

.chart__list {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: black;
}

.chart__item {
  width: calc(380px / 3);
  text-align: center;
}

.chart__item:not(:last-child) {
  border-right: 1px solid black;
}

.chart__item--link {
  color: rgba(255, 255, 255, 0.3);
  display: block;
  padding: 10px 20px;
  font-size: 14px;
}

/* 랭킹 */
.ranking {
  width: 100%;
  background-color: black;
  color: white;
}

.ranking__list {
  counter-reset: item;
}

.ranking__item {
  counter-increment: item;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.ranking__item::before {
  content: counter(item);
  width: 15%;
  text-align: center;
  font-weight: 500;
  font-style: italic;
}

.ranking__wrap {
  width: 100%;
}

/* 현재 페이지 */
.currentPage-link {
  color: white;
  background-color: black;
  border-bottom: 1px solid white;
}

/* 프리셋 */
.preset {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ranking__title {
  display: block;
  width: 150px;
  font-size: 14px;
}

.ranking__artist {
  display: block;
  width: 100px;
  font-size: 14px;
}

/* 액티브 */
.highlight {
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.ranking__item.highlight::before {
  font-size: 24px;
}

.active {
  display: none;
}

.active__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  width: 200px;
}

.ranking__title--active {
  font-weight: 600;
  color: white;
  font-size: 14px;
}

.ranking__artist--active {
  color: #aaa;
  display: block;
  margin-top: 10px;
  font-size: 14px;
}
